.About {
    background: url("../../public/images/about-image.png") center / cover no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    width: 100vw;
}

.About .container {
    display: flex;
    padding: 40px 91px;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.About span {
    color: var(--Dark-Gray, #333);
    font-family: Montserrat;
    font-size: 20px;
    line-height: 40px;
}

.about-wrapper {
    display: flex;
    padding: 33px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 40vw;
}

.more-about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 40vw;
}

.button-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.About #primary {
    border-radius: 5px;
    border: 2px solid var(--Dark-Gray, #333);
}
  
.About #primary span {
    color: var(--Dark-Gray, #333);
    font-size: 24px;
    font-weight: 500;
}
  
.About #primary:hover {
    background-color: var(--Dark-Gray, #333);
}

.About #primary:hover span {
    color: var(--Warm-White, #F9F9F9);
    font-weight: 700;
}
