@import './fonts.css';

h1 {
  font-family: 'Lora', serif;
  align-self: stretch;
  color: var(--Warm-White, #F9F9F9);
  font-size: 52px;
}

h2 {
  font-family: 'Lora', serif;
  align-self: stretch;
  font-size: 40px;
  color: var(--Dark-Gray, #333);
}

h3 {
  font-family: 'Lora', serif;
  align-self: stretch;
  font-size: 32px;
  color: var(--Dark-Gray, #333);
}

.intro span {
  align-self: stretch;
  font-size: 40px;
  line-height: 60px; /* 150% */
  color: var(--Warm-White, #F9F9F9);
}

body {
  font-family: 'Montserrat', serif;
  color: var(--Dark-Gray, #333);
  background: var(--Warm-White, #F9F9F9);
}

.App {
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-page-container {
  display: flex;
  height: 90vh;
  padding-left: 91px;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: url("../../public/images/background.png") center / cover no-repeat;
}

.content {
  display: flex;
  align-items: center;
  gap: 80px;
  flex: 1 0 0;
  align-self: stretch;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(189, 54%, 97%) 8%,
    hsl(344, 17%, 83%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Dark-Gray, #333);
  font-family: 'Montserrat', serif;
  background: hsl(189, 54%, 97%) 8%;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 50px;
  background: url("../../public/images/intro_image.jpg") center / contain no-repeat;
  background-size: contain;
}
