@import './fonts.css';

h1 {
  font-family: 'Lora', serif;
  align-self: stretch;
  color: var(--Warm-White, #F9F9F9);
  font-size: 52px;
}

h2 {
  font-family: 'Lora', serif;
  align-self: stretch;
  font-size: 40px;
  color: var(--Dark-Gray, #333);
}

h3 {
  font-family: 'Lora', serif;
  align-self: stretch;
  font-size: 32px;
  color: var(--Dark-Gray, #333);
}

.intro span {
  align-self: stretch;
  font-size: 40px;
  line-height: 60px; /* 150% */
  color: var(--Warm-White, #F9F9F9);
}

body {
  font-family: 'Montserrat', serif;
  color: var(--Dark-Gray, #333);
  background: var(--Warm-White, #F9F9F9);
}

.App {
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-page-container {
  display: flex;
  height: 100vh;
  padding-left: 91px;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: url("../../public/images/background.png") center / cover no-repeat;
  background-size: cover;
  background-position: 80% 50%;
}

.content {
  display: flex;
  align-items: center;
  gap: 80px;
  flex: 1 0 0;
  align-self: stretch;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.intro {
  opacity: 0;

  animation: slide-up 3s ease-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.button {
  display: flex;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in 2s ease-out forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#primary:hover {
  background-color: var(--Warm-White, #F9F9F9);
}

#primary:hover span {
  color: var(--Dark-Gray, #333);
  font-weight: 700;
}

#primary {
  border-radius: 5px;
  border: 2px solid var(--Warm-White, #F9F9F9);
}

#primary span {
  color: var(--Warm-White, #F9F9F9);
  font-size: 24px;
  font-weight: 500;
}

