.Conclusions {
    width: 100vw;
    padding-bottom: 80px;
    gap: 30px;
}

.separator {
    display: flex;
    padding: 0px 50px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.separator h2 {
    color: var(--Dark-Gray, #333);
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-weight: 600;
}

.line {
    flex: 1;
    height: 3px;
    border: none;
    background-color: var(--Dark-Gray, #333);
    margin: 0;
}

.Conclusions .content {
    display: flex;
    padding: 0px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}