/* Lora Bold */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora-Bold'), url('../../public/fonts/Lora-Bold.ttf') format('truetype');
}

/* Lora Italic */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: local('Lora-Italic'), url('../../public/fonts/Lora-Italic.ttf') format('truetype');
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url('../../public/fonts/Montserrat-Regular.ttf') format('truetype');
}