.Header {
    display: flex;
    padding: 36px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    background: var(--Warm-White, #F9F9F9);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 25px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
}

.header-name {
    color: var(--Dark-Gray, #333);
    line-height: normal;
}

.header-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 80px;
    flex: 1 0 0;
}