.Header {
    z-index: 99;
    width: 100%;
    display: flex;
    padding: 25px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
    align-self: stretch;
    position: fixed;

    background: var(--Warm-White, #F9F9F9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 18px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
}

.header-name {
    color: var(--Dark-Gray, #333);
    line-height: normal;
}

.header-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 80px;
    flex: 1 0 0;
}

.header-tabs span {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease, font-weight 0.3s ease;
    margin-bottom: 5px;
}

.header-tabs span:hover {
    font-weight: bold;
}

.header-tabs span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--Dark-Gray, #333);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.header-tabs span:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}