.HiFi {
    width: 100vw;
    padding-bottom: 80px;
    gap: 30px;
}

.separator {
    display: flex;
    padding: 0px 50px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.separator h2 {
    color: var(--Dark-Gray, #333);
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-weight: 600;
}

.line {
    flex: 1;
    height: 3px;
    border: none;
    background-color: var(--Dark-Gray, #333);
    margin: 0;
}

.HiFi .content {
    display: flex;
    padding: 0px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.section {
    padding: 0;
}

.section p {
    font-size: 20px;
    line-height: 35px;
}

.HiFi .gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    padding: 30px 80px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.gallery-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}