.projects-container {
    display: flex;
    padding: 40px 91px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex: 1 0 0;
    align-self: stretch;

    background-color: #1f1e21;
}

.projects-intro h2 {
    color: var(--Warm-White, #F9F9F9);
}

.projects-intro span{
    align-self: stretch;
    font-size: 20px;
    line-height: 35px;

    color: var(--Warm-White, #F9F9F9);
}

.projects-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.projects-cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.row {
    display: flex;
    height: 300px;
    align-items: flex-start;
    gap: 26px;
    align-self: stretch;
}

.project-card {
    flex: 1 0 0;
    align-self: stretch;
    padding: 1.5rem;
    background: var(--Warm-White, #F9F9F9);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

    &:hover {

        &:before {
            opacity: 1;
        }

        .project-info {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        z-index: 3;
        color: var(--Warm-White, #F9F9F9);
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;

        h3 {
            color: var(--Warm-White, #F9F9F9);
        }

        span {
            letter-spacing: 1px;
            font-size: 24px;
            margin-top: 8px;
            margin-bottom: 30px;
        }

        #primary {
            width: 30%;
            height: 10px;
            font-size: 20px;
        }

        #primary:hover {
            color: var(--Dark-Gray, #333);
            font-weight: 700;
        }
    }
}