.projects-container {
    display: flex;
    padding: 40px 91px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex: 1 0 0;
    align-self: stretch;

    background-color: #1f1e21;
}

.projects-intro h2 {
    color: var(--Warm-White, #F9F9F9);
}

.projects-intro span{
    align-self: stretch;
    font-size: 20px;
    line-height: 35px;

    color: var(--Warm-White, #F9F9F9);
}

.projects-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.projects-cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.row {
    display: flex;
    height: 300px;
    align-items: flex-start;
    gap: 26px;
    align-self: stretch;
}

.project-card {
    flex: 1 0 0;
    align-self: stretch;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}