.Research {
    width: 100vw;
    padding-bottom: 80px;
}

.separator {
    display: flex;
    padding: 0px 50px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.separator h2 {
    color: var(--Dark-Gray, #333);
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-weight: 600;
}

.line {
    flex: 1;
    height: 3px;
    border: none;
    background-color: var(--Dark-Gray, #333);
    margin: 0;
}

.Research .content {
    display: flex;
    padding: 0px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.section {
    padding: 0;
}

.section p {
    font-size: 20px;
    line-height: 35px;
}

.user-needs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.needs {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.needs-card {
    display: flex;
    padding: 60px 43px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex: 1 0 0;

    border-radius: 15px;
    border: 8px solid var(--Dark-Gray, #333);

    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.needs-card span {
    font-weight: 700;
}

.personas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 80px;
}

.persona {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.persona  h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.header {
    padding: 0;
}

.header h5 {
    color: var(--Dark-Gray, #333);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
}

.header em {
    color: var(--Medium-Gray, #666);
}

.persona p {
    font-size: 20px;
}

.photo-cover {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    background: url("../../public/images/placeholder.svg") center / cover no-repeat;
    background-size: cover;
}